@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  margin: 0;
  padding: 0;
}
body {
  color: #fef7ee;
  background: #111315;
  font-size: 1rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.heading {
  @apply text-4xl font-semibold text-custom-white text-center mb-6;
}

.label {
  @apply absolute text-sm font-semibold text-custom-gray bg-custom-yellow px-3 py-1 m-2 w-fit rounded-3xl;
}

.menu_btn {
  @apply cursor-pointer rounded-md px-3.5 py-1.5 font-semibold;
}
